// TABLE OF CONTENTS :
//
// 1. General
// 2. Cover
// 3. Wrapper

//////////// COVER ////////////

#cover {
    z-index: 1;
    grid-area: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 440px;
    margin-top: 66px;
}

////////// CONTENT //////////

#content {
    background-color: var(--white);
    padding: 80px 240px;

    h1 {
        margin-bottom: 12px;
    }

    h2 {
        margin-top: 40px;
        color: var(--black);
    }

    p {
        margin-bottom: .75em;
        color: var(--black);
    }

    .text {
        margin: 0 160px;
    }

    .images {
        margin: 80px 0;

        img {
            margin-bottom: 20px;
            width: 100%;
        }
    }
}