@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;700&display=swap");
@font-face {
  font-family: "Socicon";
  src: url("../fonts/Socicon.eot?87visu");
  src: url("../fonts/Socicon.eot?87visu#iefix") format("embedded-opentype"), url("../fonts/Socicon.woff2?87visu") format("woff2"), url("../fonts/Socicon.ttf?87visu") format("truetype"), url("../fonts/Socicon.woff?87visu") format("woff"), url("../fonts/Socicon.svg?87visu#Socicon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.socicon-flipboard:before {
  content: "\e973";
}

.socicon-traxsource:before {
  content: "\e94d";
}

.socicon-beatport:before {
  content: "\e955";
}

.socicon-kobo:before {
  content: "\e948";
}

.socicon-gitlab:before {
  content: "\e945";
}

.socicon-instructables:before {
  content: "\e944";
}

.socicon-portfolio:before {
  content: "\e943";
}

.socicon-udemy:before {
  content: "\e93f";
}

.socicon-codepen:before {
  content: "\e917";
}

.socicon-fiverr:before {
  content: "\e91b";
}

.socicon-bandcamp:before {
  content: "\e00b";
}

.socicon-behance:before {
  content: "\e010";
}

.socicon-discord:before {
  content: "\e01d";
}

.socicon-dribbble:before {
  content: "\e021";
}

.socicon-github:before {
  content: "\e032";
}

.socicon-goodreads:before {
  content: "\e033";
}

.socicon-instagram:before {
  content: "\e044";
}

.socicon-linkedin:before {
  content: "\e04c";
}

.socicon-medium:before {
  content: "\e051";
}

.socicon-paypal:before {
  content: "\e060";
}

.socicon-pinterest:before {
  content: "\e063";
}

.socicon-residentadvisor:before {
  content: "\e06f";
}

.socicon-soundcloud:before {
  content: "\e078";
}

.socicon-twitter:before {
  content: "\e08d";
}

.socicon-youtube:before {
  content: "\e0a5";
}

:root {
  --primary: #BAA3F3;
  --secondary: #EFE4A6;
  --black: #141415;
  --grey: #1B1B1D;
  --text: #AFABBA;
  --white: #F7F7F8;
}

html {
  background: var(--secondary);
}

html body {
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  color: var(--text);
  margin: 0;
  overflow-x: hidden;
}

html body #back-to-top {
  z-index: 5;
  width: 48px;
  height: 48px;
  position: fixed;
  bottom: 10em;
  right: 1em;
  text-align: center;
  cursor: pointer;
}

@media all and (orientation: portrait) {
  html body #back-to-top {
    display: none;
  }
}

html body header {
  z-index: 3;
  position: absolute;
  top: 0;
  height: auto;
  width: 100%;
  background-color: var(--black);
}

html body header .logo {
  height: auto;
  margin: 16px 104px;
}

html body a {
  text-decoration: none;
}

html body h1 {
  font-size: 3em;
  line-height: 1.25em;
  color: var(--black);
}

@media all and (max-width: 970px) {
  html body h1 {
    font-size: 3.1rem;
  }
}

html body h2 {
  margin: 0 0 16px 0;
  font-weight: 700;
  font-size: 2em;
  line-height: 1.25em;
  color: var(--white);
}

@media all and (max-width: 414px) {
  html body h2 {
    font-size: 1.8rem;
    margin-bottom: -20px;
  }
}

html body h3 {
  font-size: 2rem;
  text-align: left;
  margin: 0 0 20px 0;
  color: var(--white);
}

@media all and (max-width: 680px) {
  html body h3 {
    font-size: 2rem;
  }
}

@media all and (max-width: 414px) {
  html body h3 {
    margin-bottom: 32px;
  }
}

@media all and (max-width: 375px) {
  html body h3 {
    font-size: 1.5rem;
  }
}

html body h4 {
  font-size: 35px;
  text-align: left;
  margin: 60px 0 0 0;
  color: var(--white);
}

@media all and (max-width: 375px) {
  html body h4 {
    margin-top: 40px;
    font-size: 1.8rem;
  }
}

html body .title-number {
  font-size: 3rem;
  color: var(--primary);
}

@media all and (max-width: 680px) {
  html body .title-number {
    font-size: 2.7rem;
  }
}

@media all and (max-width: 580px) {
  html body .title-number {
    font-size: 2.3rem;
  }
}

@media all and (max-width: 414px) {
  html body .title-number {
    font-size: 1.5rem;
  }
}

html body p {
  margin: 0;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 1.75rem;
}

@media all and (max-width: 414px) {
  html body p {
    font-size: 1rem;
    line-height: 1.8rem;
  }
}

html body .small-text {
  font-weight: 700;
  font-size: 0.6em;
  line-height: 1.5em;
  letter-spacing: 3px;
  text-transform: uppercase;
}

html body .artwork-name {
  font-style: italic;
}

html body .italic {
  font-style: italic;
  font-weight: 400;
}

html body button {
  margin-top: 48px;
  width: 240px;
  padding: 16px 0;
  border: 2px solid var(--white);
  background: none;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--white);
}

@media all and (max-width: 414px) {
  html body button {
    font-size: 0.8rem;
    width: 240px;
  }
}

html body button:hover {
  cursor: pointer;
}

html body .primary-btn {
  border-radius: 0px;
}

html body .primary-btn:hover {
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
  color: var(--grey);
}

html body .secondary-btn {
  border-radius: 50px;
}

html body .secondary-btn:hover {
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: var(--grey);
}

.home-content {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "hero-header" "projects" "aboutme" "window" "contact" "footer";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 100vh auto auto auto auto;
      grid-template-rows: 100vh auto auto auto auto;
}

@media all and (max-width: 790px) {
  .content-home {
    -ms-grid-rows: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
  }
}

@media all and (orientation: portrait) {
  .content-home {
    -ms-grid-rows: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
  }
}

.alert-message {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--secondary);
  text-align: center;
  padding: 8px;
  color: var(--black);
}

@media all and (max-width: 414px) {
  .alert-message {
    font-size: 0.8rem;
  }
}

#hero-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: hero-header;
}

@media all and (max-width: 690px) {
  #hero-header .scrolldown {
    display: none;
  }
}

@media all and (orientation: portrait) {
  #hero-header .scrolldown {
    display: none;
  }
}

.hero-header {
  width: 46%;
  position: absolute;
  top: 50%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero-header h1 {
  margin: 0 0 0.5em 0;
  color: var(--white);
}

@media all and (max-width: 970px) {
  .hero-header h1 {
    font-size: 3rem;
    line-height: 3.8rem;
  }
}

.hero-header .buttons a + a {
  margin-left: 12px;
}

.hero-header .buttons .primary-btn {
  border-radius: 50px;
}

@media all and (max-width: 790px) {
  .hero-header {
    padding: 20% 0;
  }
  .hero-header h1 {
    padding: 0 12%;
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media all and (max-width: 375px) {
  .hero-header {
    padding: 20% 0;
  }
  .hero-header h1 {
    padding: 0 2rem;
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

.scrolldown .line {
  width: 2px;
  background: var(--white);
  position: absolute;
  height: 80px;
  left: 45px;
  bottom: 0;
}

.scrolldown p {
  margin-bottom: 8px;
  position: absolute;
  bottom: 88px;
  left: 40px;
  color: var(--white);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.projects {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: projects;
  position: relative;
  background-color: var(--grey);
  width: 100%;
}

.projects .row {
  width: 100%;
  height: 560px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.projects .row .projects-left-column {
  position: relative;
  padding: calc(calc(560px - 308px)/2) 104px;
}

@media all and (max-width: 970px) {
  .projects .row .projects-left-column .projects-list {
    display: none;
  }
}

.projects .row .projects-left-column p {
  line-height: 2.4rem;
  margin: 0 0 0 -0.4em;
}

@media all and (max-width: 1100px) {
  .projects .row .projects-left-column p {
    font-size: 1rem;
    line-height: 2.1rem;
  }
}

.projects .row .projects-left-column .highlighter {
  color: var(--text);
  text-decoration: none;
  padding: 4px 8px;
  background-size: 200% auto;
  background-position: 0 0;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, var(--primary)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, var(--primary) 50%);
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.projects .row .projects-left-column .highlighter span {
  opacity: 0;
  font-weight: 300;
}

@media all and (max-width: 1370px) {
  .projects .row .projects-left-column .highlighter span {
    display: none;
  }
}

.projects .row .projects-left-column .highlighter:hover {
  background-position: -100% 0;
  padding: 4px 8px;
  color: var(--grey);
}

.projects .row .projects-left-column .highlighter:hover span {
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
}

.projects .row .projects-left-column .highlighter:before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.projects .row .projects-left-column .highlighter:hover:before {
  opacity: 1;
}

.projects .row .projects-left-column .projects-btc:hover:before {
  z-index: 2;
  background-image: url(../img/cover/be-the-change.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
}

.projects .row .projects-left-column .projects-crabbykobo:hover:before {
  z-index: 2;
  background-image: url(../img/cover/crabby-kobo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
}

.projects .row .projects-left-column .projects-codestrata:hover:before {
  z-index: 2;
  background-image: url(../img/cover/code-strata.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
}

.projects .row .projects-left-column .projects-modulations:hover:before {
  z-index: 2;
  background-image: url(../img/cover/modulations.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
}

.projects .row .projects-left-column .projects-untitled:hover:before {
  z-index: 2;
  background-image: url(../img/cover/untitled.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
}

.projects .row .projects-left-column .projects-geometricanimals:hover:before {
  z-index: 2;
  background-image: url(../img/cover/geometric-animals.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
}

.projects .row .projects-left-column .see-the-window {
  display: none;
}

@media all and (max-width: 970px) {
  .projects .row .projects-left-column .see-more {
    display: none;
  }
  .projects .row .projects-left-column .see-the-window {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.projects .row .projects-left-column img {
  display: none;
}

@media all and (max-width: 970px) {
  .projects .row .projects-left-column img {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 55%;
  }
}

@media all and (max-width: 600px) {
  .projects .row .projects-left-column img {
    width: 65%;
  }
}

@media all and (max-width: 500px) {
  .projects .row .projects-left-column img {
    width: 75%;
  }
}

@media all and (max-width: 970px) {
  .projects .row .projects-left-column {
    text-align: center;
    padding: 90px 0;
    background-color: var(--black);
  }
  .projects .row .projects-left-column p {
    text-align: center;
    margin-top: 2rem;
  }
}

@media all and (max-width: 414px) {
  .projects .row .projects-left-column {
    padding: 70px 0;
  }
}

.projects .row .projects-right-column {
  z-index: 1;
  background-color: var(--primary);
}

@media all and (max-width: 970px) {
  .projects .row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
}

.about-me {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: aboutme;
  position: relative;
  background-color: var(--grey);
  display: -ms-grid;
  display: grid;
      grid-template-areas: "colleft colright";
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 560px;
      grid-template-rows: 560px;
}

.about-me .about-me-left-column {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: colleft;
  position: relative;
  background-color: var(--secondary);
}

.about-me .about-me-left-column img {
  width: 527px;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  bottom: 0;
}

@media all and (max-width: 1320px) {
  .about-me .about-me-left-column img {
    width: 517px;
  }
}

@media all and (max-width: 1200px) {
  .about-me .about-me-left-column img {
    width: 504px;
  }
}

@media all and (max-width: 1080px) {
  .about-me .about-me-left-column img {
    width: 475px;
  }
}

.about-me .about-me-right-column {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: colright;
  position: relative;
  margin: auto 104px;
}

@media all and (max-width: 414px) {
  .about-me .about-me-right-column {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-top: 72px;
  }
}

@media all and (max-width: 970px) {
  .about-me {
        grid-template-areas: "colright" "colleft";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
  .about-me .about-me-left-column {
    text-align: center;
  }
  .about-me .about-me-left-column img {
    position: static;
    width: 60%;
    margin: 0 auto;
  }
}

@media all and (max-width: 970px) and (max-width: 970px) {
  .about-me .about-me-left-column img {
    margin-bottom: -5px;
  }
}

@media all and (max-width: 970px) and (max-width: 600px) {
  .about-me .about-me-left-column img {
    width: 65%;
  }
}

@media all and (max-width: 970px) and (max-width: 500px) {
  .about-me .about-me-left-column img {
    width: 75%;
  }
}

@media all and (max-width: 970px) {
  .about-me .about-me-right-column {
    text-align: center;
  }
  .about-me .about-me-right-column .aboutme-sentence {
    margin-bottom: 8%;
  }
  .about-me .about-me-right-column .aboutme-sentence p {
    text-align: center;
  }
}

@media all and (max-width: 414px) {
  .about-me {
    padding: 0 50px;
  }
  .about-me .about-me-left-column img {
    margin-top: 20px;
    width: 100%;
  }
}

@media all and (max-width: 320px) {
  .about-me {
    padding: 0 30px;
  }
}

.contact {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: contact;
  background-color: var(--black);
  position: relative;
  margin: auto;
  padding: 88px 0;
  text-align: center;
}

.contact h2 {
  margin: 0;
}

.contact button {
  margin-top: 32px;
}

.footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: var(--primary);
  padding: 24px 80px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "footer-left-column footer-right-column";
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.footer p {
  color: var(--black);
}

@media all and (max-width: 580px) {
  .footer p {
    text-align: center;
  }
}

.footer .footer-left-column {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: footer-left-column;
  border-right: 2px solid var(--black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0px;
  gap: 16px;
  position: relative;
  bottom: 0px;
}

.footer .footer-left-column p {
  margin: 8px 0;
}

.footer .footer-left-column img {
  height: 32px;
}

@media all and (max-width: 580px) {
  .footer .footer-left-column .copyright {
    display: none;
  }
}

@media all and (max-width: 860px) {
  .footer .footer-left-column {
    border-right: none;
  }
}

@media all and (max-width: 580px) {
  .footer .footer-left-column {
    text-align: center;
  }
}

.footer .footer-right-column {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: footer-right-column;
  padding-left: 32px;
}

.footer .footer-right-column ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 8px 0 0 0;
  gap: 6px;
}

.footer .footer-right-column ul a:link,
.footer .footer-right-column ul a:visited {
  color: var(--black);
}

.footer .footer-right-column li {
  cursor: pointer;
}

.footer .footer-right-column .socicon {
  font-family: "Socicon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 24px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 11px 11px 10px 11px;
  width: 24px;
  height: 24px;
  border: 2px solid var(--black);
  border-radius: 50%;
}

.footer .footer-right-column .socicon:hover {
  color: var(--primary);
  background-color: var(--black);
}

@media all and (max-width: 860px) {
  .footer .footer-right-column {
    padding-left: 0px;
    margin-bottom: 4rem;
  }
}

@media all and (max-width: 580px) {
  .footer .footer-right-column {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
}

@media all and (max-width: 860px) {
  .footer {
        grid-template-areas: "footer-right-column" "footer-left-column";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
}

@media all and (max-width: 500px) {
  .footer {
    padding: 20px 30px;
  }
}
/*# sourceMappingURL=main.css.map */