// TABLE OF CONTENTS :
//
// 1. Typographies
// 2. Colors
// 3. General
// 4. Cover
// 5. Works
// 6. About me
// 7. Contact
// 8. Footer

//////// TYPOGRAPHIES ////////

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;700&display=swap');

@font-face {
  font-family: "Socicon";
  src: url("../fonts/Socicon.eot?87visu");
  src: url("../fonts/Socicon.eot?87visu#iefix") format("embedded-opentype"),
    url("../fonts/Socicon.woff2?87visu") format("woff2"),
    url("../fonts/Socicon.ttf?87visu") format("truetype"),
    url("../fonts/Socicon.woff?87visu") format("woff"),
    url("../fonts/Socicon.svg?87visu#Socicon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.socicon-flipboard:before {
  content: "\e973";
}

.socicon-traxsource:before {
  content: "\e94d";
}

.socicon-beatport:before {
  content: "\e955";
}

.socicon-kobo:before {
  content: "\e948";
}

.socicon-gitlab:before {
  content: "\e945";
}

.socicon-instructables:before {
  content: "\e944";
}

.socicon-portfolio:before {
  content: "\e943";
}

.socicon-udemy:before {
  content: "\e93f";
}

.socicon-codepen:before {
  content: "\e917";
}

.socicon-fiverr:before {
  content: "\e91b";
}

.socicon-bandcamp:before {
  content: "\e00b";
}

.socicon-behance:before {
  content: "\e010";
}

.socicon-discord:before {
  content: "\e01d";
}

.socicon-dribbble:before {
  content: "\e021";
}

.socicon-github:before {
  content: "\e032";
}

.socicon-goodreads:before {
  content: "\e033";
}

.socicon-instagram:before {
  content: "\e044";
}

.socicon-linkedin:before {
  content: "\e04c";
}

.socicon-medium:before {
  content: "\e051";
}

.socicon-paypal:before {
  content: "\e060";
}

.socicon-pinterest:before {
  content: "\e063";
}

.socicon-residentadvisor:before {
  content: "\e06f";
}

.socicon-soundcloud:before {
  content: "\e078";
}

.socicon-twitter:before {
  content: "\e08d";
}

.socicon-youtube:before {
  content: "\e0a5";
}

/////////// COLORS ///////////

:root {
  --primary: #BAA3F3;
  --secondary: #EFE4A6;
  --black: #141415;
  --grey: #1B1B1D;
  --text: #AFABBA;
  --white: #F7F7F8;
}

/////////// GENERAL //////////

html {
  background: var(--secondary);

  body {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    color: var(--text);
    margin: 0;
    overflow-x: hidden;

    #back-to-top {
      z-index: 5;
      width: 48px;
      height: 48px;
      position: fixed;
      bottom: 10em;
      right: 1em;
      text-align: center;
      cursor: pointer;
    }

    @media all and (orientation: portrait) {
      #back-to-top {
        display: none;
      }
    }

    header {
      z-index: 3;
      position: absolute;
      top: 0;
      height: 100px;
      width: 100%;
      background-color: var(--black);

      .logo {
        grid-area: logo;
        height: 32px;
        padding: 32px 12% 32px 12%;
      }

      @media all and (max-width: 580px) {
        .logo {
          padding: 32px 2em 32px 0;
        }
      }
    }

    /// Text settings ///

    a {
      text-decoration: none;
    }

    h1 {
      font-size: 3rem;
    }

    @media all and (max-width: 970px) {
      h1 {
        font-size: 3.1rem;
      }
    }

    h2 {
      margin: 0 0 16px 0;
      font-weight: 700;
      font-size: 2em;
      line-height: 1.25em;
      color: var(--white);
    }

    @media all and (max-width: 414px) {
      h2 {
        font-size: 1.8rem;
        margin-bottom: -20px;
      }
    }

    h3 {
      font-size: 2rem;
      text-align: left;
      margin: 0 0 20px 0;
      color: var(--white);
    }

    @media all and (max-width: 680px) {
      h3 {
        font-size: 2rem;
      }
    }

    @media all and (max-width: 414px) {
      h3 {
        margin-bottom: 32px;
      }
    }

    @media all and (max-width: 375px) {
      h3 {
        font-size: 1.5rem;
      }
    }

    h4 {
      font-size: 35px;
      text-align: left;
      margin: 60px 0 0 0;
      color: var(--white);
    }

    @media all and (max-width: 375px) {
      h4 {
        margin-top: 40px;
        font-size: 1.8rem;
      }
    }

    .title-number {
      font-size: 3rem;
      color: var(--primary);
    }

    @media all and (max-width: 680px) {
      .title-number {
        font-size: 2.7rem;
      }
    }

    @media all and (max-width: 580px) {
      .title-number {
        font-size: 2.3rem;
      }
    }

    @media all and (max-width: 414px) {
      .title-number {
        font-size: 1.5rem;
      }
    }

    p {
      margin: 0;
      font-weight: 400;
      font-size: 1.15rem;
      line-height: 1.75rem;
    }

    @media all and (max-width: 414px) {
      p {
        font-size: 1rem;
        line-height: 1.8rem;
      }
    }

    .small-text {
      font-weight: 700;
      font-size: 0.6em;
      line-height: 1.5em;
      letter-spacing: 3px;
      text-transform: uppercase;
    }

    .artwork-name {
      font-style: italic;
    }

    .italic {
      font-style: italic;
      font-weight: 400;
    }

    /// Btns settings ///

    button {
      margin-top: 48px;
      width: 240px;
      padding: 16px 0;
      border: 2px solid var(--white);
      background: none;
      font-weight: 700;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: var(--white);
    }

    @media all and (max-width: 414px) {
      button {
        font-size: 0.8rem;
        width: 240px;
      }
    }

    button:hover {
      cursor: pointer;
    }

    .primary-btn {
      border-radius: 0px;
    }

    .primary-btn:hover {
      background-color: var(--secondary);
      border: 2px solid var(--secondary);
      color: var(--grey);
    }

    .secondary-btn {
      border-radius: 50px;
    }

    .secondary-btn:hover {
      background-color: var(--primary);
      border: 2px solid var(--primary);
      color: var(--grey);
    }
  }
}

.content-home {
  display: grid;
  grid-template-areas:
    "hero-header"
    "projects"
    "aboutme"
    "window"
    "contact"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 100vh auto auto auto auto;
}

@media all and (max-width: 790px) {
  .content-home {
    grid-template-rows: auto auto auto auto auto;
  }
}

@media all and (orientation: portrait) {
  .content-home {
    grid-template-rows: auto auto auto auto auto;
  }
}

///////////// INFO ////////////

.alert-message {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--secondary);
  text-align: center;
  padding: 8px;
  color: var(--black);
}

@media all and (max-width: 414px) {
  .alert-message {
    font-size: 0.8rem;
  }
}

//////////// HERO HEADER ////////////

#hero-header {
  grid-area: hero-header;

  @media all and (max-width: 690px) {
    .scrolldown {
      display: none;
    }
  }

  @media all and (orientation: portrait) {
    .scrolldown {
      display: none;
    }
  }
}

.hero-header {
  width: 46%;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);

  h1 {
    margin: 0 0 0.5em 0;
    font-size: 3em;
    line-height: 1.25em;
    color: var(--white);
  }

  @media all and (max-width: 970px) {
    h1 {
      font-size: 3rem;
      line-height: 3.8rem;
    }
  }

  .buttons {
    a+a {
      margin-left: 12px;
    }

    .primary-btn {
      border-radius: 50px;
    }
  }
}

@media all and (max-width: 790px) {
  .hero-header {
    padding: 20% 0;

    h1 {
      padding: 0 12%;
      font-size: 2rem;
      line-height: 3rem;
    }
  }
}

@media all and (max-width: 375px) {
  .hero-header {
    padding: 20% 0;

    h1 {
      padding: 0 2rem;
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }
}

.scrolldown {
  .line {
    width: 2px;
    background: var(--white);
    position: absolute;
    height: 80px;
    left: 45px;
    bottom: 0;
  }

  p {
    margin-bottom: 8px;
    position: absolute;
    bottom: 88px;
    left: 40px;
    color: var(--white);
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
}

////////// WORKS //////////

.projects {
  grid-area: projects;
  position: relative;
  background-color: var(--grey);
  width: 100%;

  .row {
    width: 100%;
    height: 560px;
    display: grid;
    grid-template-columns: 50% 50%;

    .projects-left-column {
      position: relative;
      padding: calc(calc(560px - 308px)/2) 104px;


      @media all and (max-width: 970px) {
        .projects-list {
          display: none;
        }
      }

      p {
        line-height: 2.4rem;
        margin: 0 0 0 -0.4em;
      }

      @media all and (max-width: 1100px) {
        p {
          font-size: 1rem;
          line-height: 2.1rem;
        }
      }

      .highlighter {
        color: var(--text);
        text-decoration: none;
        padding: 4px 8px;
        background-size: 200% auto;
        background-position: 0 0;
        background-image: linear-gradient(to right,
            rgba(255, 255, 255, 0) 50%,
            var(--primary) 50%);
        transition: all 400ms ease-in-out;

        span {
          opacity: 0;
          font-weight: 300;
        }

        @media all and (max-width: 1370px) {
          span {
            display: none;
          }
        }
      }

      .highlighter:hover {
        background-position: -100% 0;
        padding: 4px 8px;
        color: var(--grey);

        span {
          opacity: 1;
          -webkit-transition: opacity 1s ease-in-out;
          -moz-transition: opacity 1s ease-in-out;
          -o-transition: opacity 1s ease-in-out;
          -ms-transition: opacity 1s ease-in-out;
        }
      }

      .highlighter:before {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
      }

      .highlighter:hover:before {
        opacity: 1;
      }

      .projects-btc:hover:before {
        z-index: 2;
        background-image: url(../img/cover/be-the-change.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        -o-transition: opacity 0.2s ease-in-out;
        -ms-transition: opacity 0.2s ease-in-out;
      }

      .projects-crabbykobo:hover:before {
        z-index: 2;
        background-image: url(../img/cover/crabby-kobo.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        -o-transition: opacity 0.2s ease-in-out;
        -ms-transition: opacity 0.2s ease-in-out;
      }

      .projects-codestrata:hover:before {
        z-index: 2;
        background-image: url(../img/cover/code-strata.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        -o-transition: opacity 0.2s ease-in-out;
        -ms-transition: opacity 0.2s ease-in-out;
      }

      .projects-modulations:hover:before {
        z-index: 2;
        background-image: url(../img/cover/modulations.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
        -ms-transition: opacity 0.5s ease-in-out;
      }

      .projects-untitled:hover:before {
        z-index: 2;
        background-image: url(../img/cover/untitled.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
        -ms-transition: opacity 0.5s ease-in-out;
      }

      .projects-geometricanimals:hover:before {
        z-index: 2;
        background-image: url(../img/cover/geometric-animals.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
        -ms-transition: opacity 0.5s ease-in-out;
      }

      .see-the-window {
        display: none;
      }

      @media all and (max-width: 970px) {
        .see-more {
          display: none;
        }

        .see-the-window {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }

      img {
        display: none;
      }

      @media all and (max-width: 970px) {
        img {
          display: block;
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          bottom: 0;
          width: 55%;
        }
      }

      @media all and (max-width: 600px) {
        img {
          width: 65%;
        }
      }

      @media all and (max-width: 500px) {
        img {
          width: 75%;
        }
      }
    }

    @media all and (max-width: 970px) {
      .projects-left-column {
        text-align: center;
        padding: 90px 0;
        background-color: var(--black);

        p {
          text-align: center;
          margin-top: 2rem;
        }
      }
    }

    @media all and (max-width: 414px) {
      .projects-left-column {
        padding: 70px 0;
      }
    }

    .projects-right-column {
      z-index: 1;
      background-color: var(--primary);
    }
  }

  @media all and (max-width: 970px) {
    .row {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
    }
  }
}

////////// ABOUT ME //////////

.about-me {
  grid-area: aboutme;
  position: relative;
  background-color: var(--grey);
  display: grid;
  grid-template-areas: "colleft colright";
  grid-template-columns: 50% 50%;
  grid-template-rows: 560px;

  .aboutme-column-left {
    grid-area: colleft;
    position: relative;
    background-color: var(--secondary);

    img {
      width: 527px;
      position: absolute;
      margin-right: auto;
      margin-left: auto;
      left: 0;
      right: 0;
      bottom: 0;
    }

    @media all and (max-width: 1320px) {
      img {
        width: 517px;
      }
    }

    @media all and (max-width: 1200px) {
      img {
        width: 504px;
      }
    }

    @media all and (max-width: 1080px) {
      img {
        width: 475px;
      }
    }
  }

  .aboutme-column-right {
    grid-area: colright;
    position: relative;
    margin: auto 104px;

    .aboutme-sentence {
      // margin: 1.6em 0 1.2em 0;

      p {
        color: var(--text);
      }

      @media all and (max-width: 414px) {
        button {
          width: 210px;
        }
      }
    }
  }

  @media all and (max-width: 414px) {
    .aboutme-column-right {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      margin-top: 72px;
    }
  }
}

@media all and (max-width: 970px) {
  .about-me {
    grid-template-areas:
      "colright"
      "colleft";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    .aboutme-column-left {
      text-align: center;

      img {
        position: static;
        width: 60%;
        margin: 0 auto;
      }

      @media all and (max-width: 970px) {
        img {
          margin-bottom: -5px; /////////////////////////// NEED TO TEST
        }
      }

      @media all and (max-width: 600px) {
        img {
          width: 65%;
        }
      }

      @media all and (max-width: 500px) {
        img {
          width: 75%;
        }
      }
    }

    .aboutme-column-right {
      text-align: center;

      .aboutme-sentence {
        margin-bottom: 8%;

        p {
          text-align: center;
        }
      }
    }
  }
}

@media all and (max-width: 414px) {
  .about-me {
    padding: 0 50px;

    .aboutme-column-left {
      img {
        margin-top: 20px;
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 320px) {
  .about-me {
    padding: 0 30px;
  }
}

////////// CONTACT //////////

.contact {
  grid-area: contact;
  background-color: var(--black);
  position: relative;
  margin: auto;
  padding: 88px 0;
  text-align: center;

  h2 {
    margin: 0;
  }

  button {
    margin-top: 32px;
  }

}

/////////// FOOTER ///////////

.footer {
  grid-area: footer;
  background-color: var(--primary);
  padding: 24px 80px;
  display: grid;
  grid-template-areas: "footer-left-column footer-right-column";
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;

  p {
    color: var(--black);
  }

  @media all and (max-width: 580px) {
    p {
      text-align: center;
    }
  }

  .footer-left-column {
    grid-area: footer-left-column;
    border-right: 2px solid var(--black);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 16px;
    position: relative;
    bottom: 0px;

    p {
      margin: 8px 0;
    }

    img {
      height: 32px;
    }

    @media all and (max-width: 580px) {
      img {
        // position: static;
      }
    }

    @media all and (max-width: 580px) {
      .copyright {
        display: none;
      }
    }
  }

  @media all and (max-width: 860px) {
    .footer-left-column {
      border-right: none;
    }
  }

  @media all and (max-width: 580px) {
    .footer-left-column {
      text-align: center;
    }
  }

  .footer-right-column {
    grid-area: footer-right-column;
    padding-left: 32px;

    ul {
      list-style-type: none;
      display: flex;
      padding: 0;
      margin: 8px 0 0 0;
      gap: 6px;

      a:link,
      a:visited {
        color: var(--black);
      }
    }

    li {
      cursor: pointer;
    }

    .socicon {
      font-family: "Socicon" !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      font-size: 24px;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      padding: 11px 11px 10px 11px;
      width: 24px;
      height: 24px;
      border: 2px solid var(--black);
      border-radius: 50%;
    }

    .socicon:hover {
      color: var(--primary);
      background-color: var(--black);
    }
  }

  @media all and (max-width: 860px) {
    .footer-right-column {
      padding-left: 0px;
      margin-bottom: 4rem;
    }
  }

  @media all and (max-width: 580px) {
    .footer-right-column {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
    }
  }
}

@media all and (max-width: 860px) {
  .footer {
    grid-template-areas:
      "footer-right-column"
      "footer-left-column";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

@media all and (max-width: 500px) {
  .footer {
    padding: 20px 30px;
  }
}